[Desktop Entry]
Encoding=UTF-8
Name=nihwm
DesktopNames=nihde
Comment=nihde is a complete desktop environment suited for nihwm. nihwm is a normal window manager with some functionality. 
Exec=nihwm
Icon=nihwm.png
Type=XSession
